<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="FATAL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="LogTest3">
      <level value="DEBUG"/>
    </logger>

    <logger name="LogTest4">
      <level value="INFO"/>
    </logger>

  </log4net>
</configuration>
