version: 2.7.1.{build}

# Try to fix "The project file ... is not supported by MSBuild and cannot be built."
image: Visual Studio 2017

before_build:
    - nuget restore Loyc.netfx.sln
    - nuget restore Loyc.netstd.sln
    - nuget restore Core\LoycCore.netfx.sln
    - nuget restore Core\LoycCore.netstd.sln

build_script:
    # First, set some environment variables.
    # SEMVER is set manually. Not sure how this can be automated.
    - set SEMVER=27.1.4
    - echo %APPVEYOR_REPO_TAG%
    # Build packages as SEMVER-ci{build}
    - ps: if ($env:APPVEYOR_REPO_TAG -eq $True) { $env:PKG_VERSION = $env:SEMVER; } else { $env:PKG_VERSION = "$($env:SEMVER)-ci$($env:APPVEYOR_BUILD_NUMBER)"; }
    - echo %PKG_VERSION%

    # Build the Loyc libraries in release mode, for all possible configurations.
    - msbuild /p:Configuration=Release Loyc.netstd.sln
    - msbuild /p:Configuration=Release.NET45 Loyc.netfx.sln
    - msbuild /p:Configuration=Release.NET4 Loyc.netfx.sln
    - msbuild /p:Configuration=Release.NET35 Loyc.netfx.sln

after_build:
    # Package the Core libraries:
    #  - Loyc.Essentials.dll  (Loyc.Essentials.$PKG_VERSION.nupkg)
    #  - Loyc.Interfaces.dll  (Loyc.Interfaces.$PKG_VERSION.nupkg)
    #  - Loyc.Collections.dll (Loyc.Collections.$PKG_VERSION.nupkg)
    #  - Loyc.Math.dll        (Loyc.Math.$PKG_VERSION.nupkg)
    #  - Loyc.Syntax.dll      (Loyc.Syntax.$PKG_VERSION.nupkg)
    #  - Loyc.Utilities.dll   (Loyc.Utilities.$PKG_VERSION.nupkg)
    #  - All 5 together       (LoycCore.$PKG_VERSION.nupkg)
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Interfaces.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Essentials.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Collections.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Math.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Syntax.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\Loyc.Utilities.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Core\LoycCore.nuspec

    # Package the Main libraries:
    # - Loyc.Ecs.dll (Loyc.Ecs.$PKG_VERSION.nupkg)
    # - LeMP.exe     (LeMP.$PKG_VERSION.nupkg)
    # - LLLPG.exe    (LLLPG.$PKG_VERSION.nupkg)
    - nuget pack -Version %PKG_VERSION% -symbols Main\Loyc.Ecs.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Main\LeMP.nuspec
    - nuget pack -Version %PKG_VERSION% -symbols Main\LLLPG.nuspec

test_script:
    # Unfortunately, test set 8 (LLLPG) sometimes fails due to nondeterminism.
    - Bin\Release.NET45\Tests.exe 12345
    - Bin\Release.NET45\Tests.exe 67

# "task for setting values in AssemblyInfo files during the build"
assembly_info:
    patch: false # I assume this disables it
    file: '**\AssemblyVersion.cs'
    assembly_version: "{version}"
    assembly_file_version: "{version}"
    assembly_informational_version: "{version}"

artifacts:
    - path: '*.nupkg'
      name: nupkgs

# Push the NuGet packages whenever a git tag is pushed.
deploy:
    - provider: NuGet
      server:
      api_key:
          secure: Oa0lAafvnEc49af1ZoeqWCl2LgSf18vM389etR/CEwoaheeD37bJZ06ZIGgEaJto
      skip_symbols: false         # Whether to not publish symbol pkgs (src/pdb)
      artifact: /.*\.nupkg/
      on:
          branch: master          # Release from master branch only.
          appveyor_repo_tag: true # Deploy on tag push only.
