---
layout: page
title: Blog
note: This renders the blog. The actual blog posts are in /_posts
---
<p><a href="{{ site.base_url }}/blog-list.html">List of all posts</a> • <a href="{{ "atom.xml" | prepend: site.baseurl }}">Atom feed</a>
</p>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.content }}
	{% if post.commentIssueId %}
	<p><small>View comments on the <a href="{{ post.url }}">post page</a></small></p>
	{% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    {% if paginator.page == 1 %}
      <a class="pagination-item older" href="page{{paginator.next_page}}">Older</a>
    {% else %}
      <a class="pagination-item older" href="../page{{paginator.next_page}}">Older</a>
    {% endif %}
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="..">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="../page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>