---
layout: default
---

<div class="post" id="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
  {% if page.tagline %}<span class="tagline">{{ page.tagline }} &nbsp;&nbsp;</span>{% endif %}
  {{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h4>Possibly Related Posts</h4>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
         <small>{{ post.date | date_to_string }}</small>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% unless page.commentIssueId %}
  <div id="comments">
	<div id="header">Comments are not set up for this post. 
	If this is an imported post, you can leave comments on the original post on blogspot.
	</div>
  </div>
{% endunless %}